.first-text{
    color: white;
    font-family: 'Lucida Sans';
    font-size: 26px;
}
.second-text{
    color: white;
    font-family: 'Lucida Sans Regular';
    font-size: 16px;
}
.third-text{
    font-family:'Lucida Sans Regular';
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 18px;
}