
.padd{
    padding: 40px;      
}
.cardcont{
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 10px 10px 5px 5px lightblue;
}
.imagecenter{
   height:640px;
   width: 55%; 
   margin-left: 20%;
   padding-bottom: 20px;
}

.topic{
    box-shadow: 10px 10px 5px 5px lightblue;
    width: 500px;
    margin-bottom: 20px;
}
.topicj{
    box-shadow: 10px 10px 5px 5px lightblue;
    width: 50%;
    height: 60px;
    
}

.texsiz{
    font-family: 'Gill Sans';
    padding-left: 10px;
    font-weight: bold;
    padding-top: 5px;
    font-size: 22px;
}
.texsizc{
    font-family: 'Gill Sans';
    padding-left: 50px;
    font-weight: bold;
    font-size: 18px;
}
.texsizcd{
    font-family: 'Gill Sans';
    padding-left: 5px;
    font-weight: bold;
    font-size: 18px;
}
.contentsize{
    font-family: Georgia;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 40px;
    font-weight: 100;
    font-size: 18px;
    
}
.contentsizec{
    font-family: Georgia;
    padding-left: 50px;
    padding-right: 100px;
    font-weight: 100;
    font-size: 18px;
    padding-top: 4px;   
}
.navcont{
    color:white;
    font-family: Georgia;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .adjustImage{
    width: 70%;
    margin-left: 15%;

  }
  .adjustImageLR{
    width: 40%;
    margin-left: 15%;

  }
  .adjustImageD{
    width: 50%;
    margin-left: 15%;

  }

  .texsizr{
    font-family: 'Gill Sans';
    padding-left: 30%;
    font-weight: bold;
    padding-top: 5px;
    font-size: 30px;
    text-decoration: none;
}

/* unvisited link */
a:link{
    color:red;
}

/* visited link */
a:visited{
    color:green;
}

/* mouse over link */
a:hover{
    color:red;
    background-color: lightskyblue;
}

/* selected link */
a:active{
    color:yellow;
}